body {
    background-color: steelblue;
}

.container {
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
}


#person {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.celcards {
    width: 40%;
    height: 30em;
    border: 1px dotted grey;
    margin: 1em;
    padding: .5em;
}

#person img {
    height: 20em;
    width: 12em;
}